/* index.css */
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

body {
  font-family: 'Rowdies', sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  background-color: #333;
  padding: 20px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 250px;
  height: 50px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ff9900;
}

main {
  padding: 20px;
  text-align: center;
}

h1:hover {
  font-size: 36px;
  color: #ffffff;
  margin-bottom: 20px;
  
}
p {
  font-size: 35px;
}
p:hover {
  font-size: 35px;
  color: #ffffff;
}

.menu-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff9900;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.menu-button:hover {
  background-color: #ff3333;
}